html
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(228, 228, 228);
}
p
{
    font-size: 28px;
}
div
{
    float: left;
    width: max-content;
    height: max-content;
    margin-left: 50px;
}
img
{
    width: 400px;
}
header
{
    height: 100%;
    align-items: center;
    background-color:rgb(52, 178, 209);
}