
# Правило для главной страницы
RewriteRule ^$ index.php [L]

# Правило для страницы feed
RewriteRule ^feed$ pages/feed.php [L]

# Правило для других страниц
RewriteRule ^([^/]+)$ pages/$1.php [L]

# Убираем расширение .php из URL
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]