@font-face {
    font-family: "Golos UI";
    src: local("Golos UI"),
        url("/fonts/Golos UI_Regular.ttf");
    font-weight: normal;
}

* {
    font-family: 'Golos UI', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 110%;
    margin: 0 auto;
    background: #FFFFFF;
    overflow-y: auto;
}

.page {
    max-width: 1440px;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
    background: #FFFFFF;
    display: grid;
}

.sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFFFFF;
    border-right: 1px solid #2222220D;
    z-index: 1;
}

.sidebar__icons-list {
    padding: 16px;
    margin-top: 40px;
    list-style: none;

}

.sidebar__icon {
    display: block;
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.sidebar__icon--home {
    background-image: url(/icons/home.svg);
}

.sidebar__icon--profile {
    background-image: url(/icons/profile.svg);
}

.sidebar__icon--add {
    background-image: url(/icons/add.svg);
}


/* Шапка */
.header {
    width: 100%;
    height: 7%;
    background: #FFFFFF;
    position: fixed;
    top: 0;
    left: 73px;
    z-index: 1;
}

/* Лента */
.feed {
    box-sizing: content-box;
    display: block;
    min-width: 474px;
    margin: 7% auto;
}

.post {
    margin-bottom: 30px;
    background: #FFFFFF;
}

.post__header {
    position: relative;
    flex-direction: row;
    display: flex;
    margin: 16px 0 0;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
}

.post__author {
    margin: 0 auto 0 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.user__avatar {
    height: 32px;
    width: 32px;
    display: block;
    border-radius: 6px;
    object-fit: cover;
}

.user__name {
    color: black;
    text-decoration: none;
    margin-left: 10px;
    font-style: normal;
    display: inline;
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 7px;
    font-weight: 500;
    vertical-align: middle;
}

.post__text {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 0px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    font-weight: 400;
    font-style: normal;
    white-space: 100%;
    text-align: justify;
}

.post__time {
    margin-top: 8px;
    color: rgba(34, 34, 34, 0.5);
    font-size: 14px;
    letter-spacing: -0.15px;
    line-height: 18px;
    font-weight: 400px;
}

.edit-button {
    position: relative;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-color: #FFFFFF;
    background-image: url(/icons/edit.svg);
    top: 4px;
    border: none;
}

.post-image {
    margin-top: 16px;
    width: 100%;
    height: auto;
    max-width: 474px;
    object-fit: contain;
}

.like-button {
    text-wrap: nowrap;
    margin-top: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f0f0f0;
    padding: 6px 12px;
}

.like-counter {
    font-size: 15px;
    vertical-align: middle;
    width: fit-content;
}

.like-img {
    width: 16px;
    height: 18px;
    vertical-align: middle;

}

.photo-frame {
    display: grid;
    background-color: #F2F3F5;
    margin: 97px auto 0;
    width: 100%;
    height: 474px;
    /*padding: 158px 160px;*/
}

.add-photo-container {
    display: block;
    margin: auto;
}

.picture-emoji {
    font-size: 81px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}

.add-button-first {
    cursor: pointer;
    background-color: #222222;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    transition: background 0.3s ease;
    margin: 0 auto;
    padding: 14.5px 16px;
}

.add-button-first:hover {
    background: #444444;
}

.add-button-second {
    cursor: pointer;
    background: none;
    border: none;
    margin-top: 26px;
    color: #3F8AE0;
    font-size: 15px;
}

.add-button-second:hover {
    color: #2070CB;
}



.post-text {
    width: 100%;
    height: 350px;
    border: none;
    margin-top: 16px;
    resize: none;
}

.post-text:focus-visible {

    outline: none;
    border: none;
}

.preview-slider {
    margin-top: 16px;
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 10px 0;
}

.preview-slider img {
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
}

.send-button {
    height: 4%;
    width: 140px;
    border: none;
    border-radius: 10px;
}

.send-button:disabled {
    background-color: #ccc;
    color: #777;
    cursor: not-allowed;
}

.send-button:not(:disabled) {
    background-color: #3F8AE0;
    color: white;
    cursor: pointer;
}

.post__carousel {
    position: relative;
    overflow: hidden;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    inline-size: 100%;
    width: 100%;
    height: 474px;
    max-width: 474px;
    background-color: black;
}

.post__indicator {
    display: flex;

    position: absolute;
    top: 20px;
    right: 16px;
    align-items: center;
    justify-content: center;
    background-color: rgba(34, 34, 34, 0.5);
    color: #FFFFFF;
    font-size: 15px;
    width: 44px;
    height: 24px;
    border-radius: 20px;
    border: none;
}

.post__navigation {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.post__carousel-button {
    display: flex;
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
}

.post__carousel-button--prev {
    background-image: url(/icons/arrow-left.svg);
    left: 16px;
}

.post__carousel-button--next {
    background-image: url(/icons/arrow-right.svg);
    right: 16px;
}

.post__carousel-button--prev:hover {
    background-color: #FFFFFF;
}

.post__carousel-button--next:hover {
    background-color: #FFFFFF;
}

.post__carousel-button--prev:disabled {
    background-color: rgba(255, 255, 255, 0.1);
}

.post__carousel-button--next:disabled {
    background-color: rgba(255, 255, 255, 0.1);
}

.post__image {
    display: none;
    width: 100%;
    height: auto;
    max-width: 474px;
    object-fit: contain;
}

.post__image--visible {
    display: block;
    width: 100%;
    height: auto;
    max-width: 474px;
    object-fit: contain;
}