@font-face {
    font-family: "Golos UI";
    src: local("Golos UI"),
        url("/fonts/Golos UI_Regular.ttf");
    font-weight: normal;
}

* {
    font-family: 'Golos UI', sans-serif;
    padding: 0;
    box-sizing: border-box;
}

body {

    background: #FFFFFF;
    overflow-y: auto;
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: auto;
    position: relative;
    background: #FFFFFF;
}

.page__background-image {
    position: absolute;
    width: 462.08px;
    height: 501px;
    margin-left: 269px;
    margin-top: 289px;
    background: url("/images/main_image.jpg") no-repeat center center;
    background-size: cover;
}

/* Заголовок "Войти" */
.page__title {
    position: relative;
    width: 385px;
    height: 180px;
    left: 179px;
    top: 180px;
    font-style: normal;
    font-weight: 700;
    font-size: 140px;
    line-height: 0px;
    letter-spacing: -1.5px;
    color: #222222;
}

/* Форма входа */
.auth-form {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 343px;
    height: 251px;
    left: 838px;
    top: 345px;


    gap: 32px;
}

.auth-form__field {
    height: 88px;
    width: 343px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.auth-form__label {
    font-size: 15px;
    line-height: 18px;
    color: #222222;
    font-weight: 400;
    letter-spacing: -0.15px;
}

.auth-form__input {
    padding: 13px 12px;
    background: #F2F3F5;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    line-height: 18px;
    color: #222222;
    width: 100%;
    box-sizing: border-box;
}

.auth-form__field input:focus {
    outline-color: #3F8AE0;
}



.auth-form__description {
    font-size: 13px;
    line-height: 16px;
    height: 16px;
    color: #808080;
    margin: 5px 0 0 0;
    letter-spacing: -0.08px;
}

/* Кнопка "Продолжить" */
.auth-form__continue-button {
    padding: 16px 16px;
    width: 343px;
    height: 48px;
    background: #222222;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
}

.auth-form__continue-button:hover {
    background: #444444;
}



.auth-form__error-wrapper {
    padding: 22px 12px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    direction: ltr;
    height: 48px;
    width: 343px;

}

.auth-form__error {
    padding: 13px 12px;
    margin-left: 0;
    position: absolute;
    background: #FFECEC;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    line-height: 18px;
    color: #222222;
    width: 100%;
    box-sizing: border-box;
}

.auth-form__error-hider {
    margin: 0;
    background-color: #FFFFFF;
    position: absolute;
    height: 48px;
    width: 343px;
}